agno
anthropic
duckduckgo_search
google-genai
groq
nest_asyncio
openai
sqlalchemy
streamlit
# Manually required but not resolved automatically
beautifulsoup4
pypdf
psycopg-binary
psycopg
pgvector
aiofiles
chonkie[semantic]
chonkie
tiktoken
yfinance